@use "src/sass" as basics;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1000px;
}

.header,
.subHeader {
  color: basics.$purple;
}

.subHeader {
  margin-bottom: 30px;
}

.playersContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  padding: 0 10px;
}

.serverError {
  color: basics.$purple;
  font-size: 30px;
}